.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  width: 100%;
  height: 100%;
  color: #000000;
}

.modal-prize-bg {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 271rpx;
  width: 650rpx;
  transform: translate(-50%, -50%);
  z-index: 30000;
}

.modal-cancel {
  position: absolute;
  right: -82rpx;
  top: -246rpx;
  width: 82rpx;
  height: 82rpx;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20000;
  width: 500rpx;
  height: 600rpx;
  transform: translate(-50%, -50%);
  border-radius: 24rpx;
  background-color: #FFF033;
  justify-content: space-around;
  align-items: center;
}

.modal-title-container {
  align-items: center;
}

.modal-title {
  font-size: 60rpx;
  font-weight: bold;
}

.modal-desc {
  margin-top: 19rpx;
  font-size: 36rpx;
}

.modal-prize-image {
  width: 198rpx;
  height: 198rpx;
}

.modal-btn {
  background-color: #120F13;
  color: #FFFFFF;
  font-size: 40rpx;
  font-weight: bold;
  border-radius: 46rpx;
  width: 254rpx;
  height: 92rpx;
  line-height: 92rpx;
  text-align: center;
}
