:root {
  --coupon-bg-color: #fce9da;
  --coupon-middle-border-color: #e0bfac;
  --coupon-middle-circle-color: transparent;
  --coupon-height: 160rpx;
  --coupon-dash-line-height: 140rpx;
  --coupon-money-color: #d66a3c;
}

.coupon-container {
  width: 640rpx;
  height: 160rpx;
  border-radius: 25rpx;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20rpx;
  background: radial-gradient(circle at right top, var(--coupon-middle-circle-color) 10rpx,  var(--coupon-bg-color) 0) top left / 460rpx 51%  no-repeat,
      radial-gradient(circle at right bottom, var(--coupon-middle-circle-color) 10rpx,  var(--coupon-bg-color) 0) bottom left /460rpx 51% no-repeat,
      radial-gradient(circle at left top, var(--coupon-middle-circle-color) 10rpx, var(--coupon-bg-color) 0) top right /180rpx 51% no-repeat,
      radial-gradient(circle at left bottom, var(--coupon-middle-circle-color) 10rpx, var(--coupon-bg-color) 0) bottom right /180rpx 51% no-repeat;
}

.coupon-left {
  width: 460rpx;
  height: var(--coupon-height);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coupon-dash {
  background: var(--coupon-bg-color);
  height: var(--coupon-dash-line-height);
  border-left: 2rpx dashed var(--coupon-middle-border-color);
}

.coupon-right {
  width: 180rpx;
  height: var(--coupon-height);
  align-items: center;
  justify-content: center;
}

.coupon-img-container {
  width: 120rpx;
  height: 120rpx;
  border-radius: 10rpx;
  overflow: hidden;
}

.coupon-img {
  width: 120rpx;
  height: 120rpx;
}

.coupon-desc-container {
  height: 120rpx;
  justify-content: space-evenly;
}

.coupon-title {
  flex-direction: row;
  vertical-align: bottom;
  color: var(--coupon-money-color);
  line-height: 1;
  vertical-align: bottom;
  align-items: flex-end;
  margin-bottom: 10rpx;
}

.coupon-money {
  flex-direction: row;
  line-height: 1;
  vertical-align : baseline;
  margin-right: 10rpx;
  align-items: flex-end;
}


.money-unit, .coupon-limit {
  font-size: 24rpx;
}

.money-amount {
  font-weight: bold;
  font-size: 48rpx;
}

.coupon-date, .coupon-desc {
  color: #888888;
  font-size: 24rpx;
}

.coupon-operate {
  color: var(--coupon-money-color);
  border: 1px solid var(--coupon-money-color);
  padding: 10rpx 20rpx;
  border-radius: 50rpx;
  font-size: 28rpx;
}