
.lucky-button-container {
  width: 100%;
  align-items: center;
}

.lucky-button {
  width: 254rpx;
  height: 92rpx;
  margin-top: 28rpx;
  border-radius: 46rpx;
  justify-content: center;
  align-items: center;
  color: #272229;
  font-weight: bold;
  font-size: 40rpx;
}

.over {
  background: #999999;
}

.unbegin {
  background: #FFC935;
}

.ongoing {
  background: #FF4141;
  color: #FFFFFF;
}