.home {
  width: 100%;
  height: 100%;
  background: #282129;
}

.lucky-title {
  width: 100%;
  height: 354rpx;
}


.lucky-bottom-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.prize-list-link {
  position: absolute;
  top: 89rpx;
  right: 48rpx;
  text-decoration: underline;
  color: #FFFFFF;
  font-size: 24rpx;
}
