

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent
}


a {
  background: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0
}


html, body {
  margin: 0 auto;
  width: 750rpx;
  background: #fff;
  height: 1334rpx;
}


#root {
  height: 100%;
  width: 100%;
}